body {
    background-color: rgb(173, 173, 173);
    padding: 0;
    margin: 0;
    display: flex;              
    align-items: center;       
    justify-content: center;   
    width: 100%;
    height: 100vh;             
}

* {
    font-family: Poppins, sans-serif;
}

#card * {
    border-radius: 17px;
}

#card {
    width: 500px;
    height: 580px;
    background-color: rgb(0, 0, 0);
    border-radius: 17px;
    border: 5px solid black;
    color: white;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 100px;
    background-color: darkgrey;   

}

.profilepic {
    width: 128px;
    height: 128px;

    display: flex;
}

img {
    width: 128px;
    height: 128px;
    margin-left: 20px;
    margin-top: -70px;

}

.name {
    margin-left: 60px;
    margin-top: -80px;
    font-size: 20px;
}

.stats {
    width: 90%;
    background-color: darkgrey;
    height: 300px;
    margin-left: 25px;   
    padding-top: 30px;


}

.inside {
    padding-left:  30px;
    gap: 50px;
    flex-direction: column;
    display: flex;
    font-size: 20px;
}


input {
    width: 150px;
    height: 70px;
    background-color: darkgrey;
    border-radius: 17px;
    border: 3px solid black;
}

button {
    width: 90px;
    height: 70px;
    border-radius: 17px;
    border: 3px solid black;
    cursor: pointer;
}
